<footer class="foot container bg-primary rounded mb-2 shadow">
    <div>
        <div class="row d-flex ">
            <div class="col-md-3"></div>
            <div class="col-md-6 fs-4 text-center text-light mt-3"><span class="text-warning fs-3">©</span>2025
                Copyrights EventNext</div>
            <div class="col-md-3"></div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    crossorigin="anonymous"></script>
    <script src="js/flash.js"></script>
    <script src="js/eventPrice.js"></script>
</body>

</html>