<%- include("partials/header.ejs") %>
    <section class="container my-5">
        <div class="text-center my-5">
            <h1 class="fs-1">Plan Your <span class="main-heading text-warning">Dream Event</span> Today!</h1>
            <p>Register your events quickly and manage all your bookings easily.</p>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="big-deal img-pop-up">
                    <img class="img-hover img-fluid rounded h-75 w-100" src="images/img1.jpg" alt="Event Booking">
                    <a href="/booking">
                        <div class="deal-details">
                            <h6 class="deal-titles text-center">Event Booking</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="big-deal img-pop-up">
                    <img class="img-hover img-fluid rounded h-75 w-100" src="images/img2.jpg" alt="View Events">
                    <a href="/events">
                        <div class="deal-details">
                            <h6 class="deal-titles text-center">View Events</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>
    <%- include("partials/footer.ejs") %>